// *** Admin Dashboard ***//
@import './../../scss/variables';

.admin-dashboard-main-wrap{
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    .user-image{
        width: 120px;
        border: 3px solid $gray_color;
        border-radius: 50%;
    }
    h4{
        color:$primary_color;
    }
    .user-cards{
        display: flex;
        align-items: center;
        flex: none;
        gap: 10px;
        a{
            color:$white_color;
        }
        .ant-card{
            background-color: $primary_color;
            width: 165px;
            cursor: pointer;
            span{
                color:$white_color
            }
        }
    }
}
