$primary_color:#20DAC2;
$primary_color2:#01BFA6;
$primary_color3: #B3ECE5;
$primary_color4:#5c1d1d;
$primary_color5:#f0f0f0;
$primary_color6:#DC143B;
$gray_color:#808080;
$white_color:#FFFFFF;
$yellow_color:#FFFF00
